<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<div class="ui grid">
  <div class= "ui menu three column row">
    <div class="column"></div>
    <div class="header item column">
      <img src ="/assets/circle.jpg">
     </div>
   <div class="ui compact menu right">
   <div class="ui simple dropdown item">
     Menu
     <i class="dropdown icon"></i>
     <div class="menu">
       <div class="item">
         <%=link_to "Login", "/users/login"%>
       </div>
       <div class="item">
         <%=link_to "Sign Up", new_user_path%>
       </div>
       <div class="item">Contact Us</div>
     </div>
   </div>
 </div>
  </div>
</div>

<h1 class="signUp">Sign Up!</h1>



<div class="ui form">
  <%=form_tag do%>
  <div class="field">
    <label>UserName</label>
    <%=text_field_tag(:name)%>
  </div>
  <div class="field">
    <label>Email</label>
    <%=text_field_tag(:email)%>
  </div>
  <div class="field">
    <label>Password</label>
    <%=text_field_tag(:password)%>
  </div>
  <button class="ui button" type="submit"><%submit_tag %>Submit</button>
  <%end%>
</div>
