<div class="ui grid">
  <div class= "ui menu three column row">
    <div class="column"></div>
    <div class="header item column">
      <img src ="/assets/circle.jpg">
     </div>
   <div class="ui compact menu right">
   <div class="ui simple dropdown item">
     Menu
     <i class="dropdown icon"></i>
     <div class="menu">
       <div class="item">
         <%=link_to "View Songs", "/users/login"%>
       </div>
       <div class="item">
         <%=link_to "Log_out", new_user_path%>
       </div>
       <div class="item"><%=link_to "Contact Us", "/users"%></div>
     </div>
   </div>
 </div>
  </div>
</div>

<h1>Welcome <%=@user.name%>!</h1>
  <div class="left_table">
    <h1><u>User Options</u></h1>
    <div class="ui secondary vertical menu">
  <a class="item">
    Account
  </a>
  <a class="item">
    Settings
  </a>
  <a class="item">
    Song Database
  </a>
</div>
  </div>
  <div class="right_table">
    <h1><u>List of all songs in your playlist</u></h1>

    <div class = "song">
      <%song = @user.songs.select do |s|%>
      <%  s.id %>
      <% end %>

      <%song.map do |song|%>
      <%= song.title%>
      <button class = "ui button">Remove song</button>
      <br>
      <%end%>
    </div>
  </div>
